.btn{
    border:1px solid var(--color-btn-border);
    padding: .5rem 1.5rem;
    font-size: 0.7rem;
    font-family: 'Helvetica', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor:pointer;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: black;
    background-color: rgb(255, 255, 255, 94%)
}

.btn:hover{
    background-color: white;
}

.btn-row{
    display:flex;
    align-items: flex-start;
}

.btn-row > *{
    margin-left:1rem;
}

.btn-row > *:first-child{
    margin-left:0;
}